<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> 
    </head>
    <body>
    
     <!-- navbar -->

    <div class="container-fluid p-0">
        <nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">TxT Procss</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About & Contact</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
      </div>

    <div class="container">
        <div class="jumbotron">
            <div ><p class="display-4 text-lead">About Us </p></div>
            <p class="text-info">This site is developed by <span class="font-weight-bold">Amey Shamrao Nagmode</span> as an fun  project . <br>I am a student of Computer Engineering at GCOE , Jalgaon  . I have interests in Web Developement , Machine Learning and Data Science .<br> Feel free to  connect  me on the following social links  , I would love to hear form you .</p>
            <a href="https://www.linkedin.com/in/amey-nagmode"><button class="btn btn-primary"><i class="fab fa-linkedin" style="font-size:24px;"></i></button></a>
            <a href="https://www.instagram.com/amey_nagmode/"><button class="btn btn-primary"><i class="fab fa-instagram" style="font-size:24px;"></i></button></a>
        </div> 
    </div>
</body>
</html>